
<div class="row">
    <div class="col-md-5 offset-md-3">
        <div class="form-group">
            <label for="CountryId" class="control-label">Country</label>
            <select name="CountryId" class="form-control" id="CountryId"
                    asp-items="@(new SelectList(ViewBag.Countries,"Id","Name"))">
                <option value="">--Select--</option>
            </select>
        </div>

        <div class="form-group">
            <label for="StateId" class="control-label">State</label>
            <select name="StateId" class="form-control" id="StateId"
                    asp-items="@(new SelectList(string.Empty,"Id","Name"))">
                <option value="">--Select--</option>
            </select>
        </div>

        <div class="form-group">
            <label for="DistrictId" class="control-label">District</label>
            <select name="DistrictId" class="form-control" id="DistrictId"
                    asp-items="@(new SelectList(string.Empty,"Id","Name"))">
                <option value="">--Select--</option>
            </select>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

        $("#CountryId").change(function(){
            var countryId= $("#CountryId").val();


            $.ajax({
                type:"GET",
                url:"/DDL/GetStates",
                data:{countryId},
                dataType:"JSON",
                success:function(data){
                    //$("#StateId").empty();
                    var options="<option value='0'>-Select-</option>";
                    if(data != null){
                        $.each(data,function(i,item){
                      options+="<option value='"+item.id+"'>"+item.name+"</option>";
                        });
                        $("#StateId").html(options);
                    }
                },
                error:function(data){
                    alert("Error");
                }
            });





        });

        $("#StateId").change(function(){
           

           var stateId= $("#StateId").val();
           console.log(stateId);

           $.ajax({
               type:"GET",
               url:"/DDL/GetDistricts",
               data:{stateId},
               dataType:"JSON",
               success:function(data){
                    var options="<option value='0'>-Select-</option>";
                    $.each(data,function(i,district){
                        options+="<option value='"+district.id+"'>"+district.name+"</option>";
                    });
                    $("#DistrictId").html(options);
    
               },
               error:function(err){
                   alert(err);
               }
           });

        });

        $("#DistrictId").change(function(){
             console.log("DistrictId is changed");
        });

    });


</script>